header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#nav-bar { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar button a{
    color: inherit;
    text-decoration: none;
}

#imagem-logo {
    width: 45px;
    height: auto;
    vertical-align: middle;
}

#nav-logo {
    font-size: 24px;
    color: var(--color-primary-6);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-neutral-3);
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-4);
    border-bottom: 3px solid var(--color-primary-3);
}

#mobile-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

@media screen and (max-width: 1170px) {         /* Quando chegar a um tamanho máximo ativa os botões mobile e desativa os outros */
    #nav-list, #nav-bar .btn-default{
        display: none;
    }
    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active {
         display: flex;
         flex-direction: column;
         align-items: center;
    }

    #mobile-menu button a {
        color: inherit;
        text-decoration: none;
    }

    #mobile-nav-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile-nav-list .nav-item {
        list-style: none;
        text-align: center;
    }
}